<link rel="import" href="../../lib-elements/key-observer/key-observer.html">
<polymer-element name="td-focus" attributes="modelId">
  <template>
    <key-observer targetSel="body"
      on-key-down="{{focusDown}}"
      on-key-up="{{focusUp}}"
      on-key-d="{{toggleComplete}}"
      on-key-i="{{insertMode}}"
      ></key-observer>
  </template>
  <script src="td-focus.js"></script>
</polymer-element>
