<link rel="import" href="../../lib-elements/esc-blur/esc-blur.html">

<polymer-element name="td-input" extends="input" on-keyup="{{keyupAction}}" on-keypress="{{keypressAction}}">
  <template>
    <esc-blur targetEl="{{}}"></esc-blur>
  </template>
  <script src="td-input.js"></script>
</polymer-element>
