<link rel="import" href="../../lib-elements/polymer-selector.html">
<link rel="import" href="../../lib-elements/flatiron-director.html">
<link rel="import" href="../td-input/td-input.html">
<link rel="import" href="../td-item/td-item.html">

<polymer-element name="td-todos" attributes="route modelId">
  <template>
    <link rel="stylesheet" href="td-todos.css">
    <flatiron-director route="{{route}}"></flatiron-director>
    <section id="todoapp">
      <header id="header">
        <input is="td-input" id="new-todo" placeholder="What needs to be done?" autofocus on-td-input-commit="{{addTodoAction}}" on-td-input-cancel="{{cancelAddTodoAction}}">
      </header>
      <section id="main" hidden?="{{model.items.length == 0}}">
        <input id="toggle-all" type="checkbox" on-change="{{toggleAllCompletedAction}}" checked="{{model.allCompleted}}">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list" on-td-item-changed="{{itemChangedAction}}" on-td-destroy-item="{{destroyItemAction}}">
          <template repeat="{{item, i in model.filtered}}">
            <li is="td-item" item="{{item}}" focused="{{ model.focusIndex === i }}" editing="{{ item.editing }}"></li>
          </template>
        </ul>
      </section>
      <footer id="footer" hidden?="{{model.items.length == 0}}">
        <span id="todo-count"><strong>{{model.activeCount}}</strong> {{model.activeCount == 1 ? 'item' : 'items'}} left</span>
        <polymer-selector id="filters" selected="{{route || 'all'}}">
          <li name="all">
            <a href="../#/">All</a>
          </li>
          <li name="active">
            <a href="../#/active">Active</a>
          </li>
          <li name="completed">
            <a href="../#/completed">Completed</a>
          </li>
        </polymer-selector>
        <button hidden?="{{model.completedCount == 0}}" id="clear-completed" on-click="{{clearCompletedAction}}">Clear completed ({{model.completedCount}})</button>
      </footer>
    </section>
  </template>
  <script src="td-todos.js"></script>
</polymer-element>
