<link rel="import" href="../key-observer/key-observer.html">

<polymer-element name="esc-blur" attributes="targetEl">
  <template>
    <key-observer targetEl="{{ targetEl }}"
      on-key-esc="{{ blurElem }}"
      ignoreInput=false
      ></key-observer>
  </template>
  <script src="esc-blur.js"></script>
</polymer-element>
